services:

  paperless_redis:
    image: redis:7
    container_name: homelab_paperless_redis
    restart: unless-stopped
    networks:
      - homelab
    volumes:
      - redis_data:/data
  paperless_db:
    image: postgres:15
    container_name: homelab_paperless_db
    restart: unless-stopped
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    secrets:
      - db_password
    networks:
      - homelab
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
  paperless_app:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: homelab_paperless_app
    restart: unless-stopped
    depends_on:
      - paperless_db  
      - paperless_redis 
    ports:
      - "8000:8000"
    volumes:
      - ./paperless/data:/usr/src/paperless/data
      - ./paperless/media:/usr/src/paperless/media
      - ./paperless/export:/usr/src/paperless/export
      - ./paperless/consume:/usr/src/paperless/consume
    secrets:
      - db_password
      - paperless_secret_key
    networks:
      - homelab
    env_file:
      - ./paperless/paperless.env
    environment:
      PAPERLESS_DBPASS_FILE: /run/secrets/db_password
      PAPERLESS_SECRET_KEY_FILE: /run/secrets/paperless_secret_key


  homer:
    image: b4bz/homer
    container_name: homer_dashboard
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./homer/assets:/www/assets
    networks:
      - homelab
    environment:
      - UID=1000
      - GID=1000


  traefik:
    image: traefik:v2.11
    container_name: homelab_traefik
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    volumes:
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
    networks:
      - homelab
    restart: unless-stopped

  
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: homelab_cloudflared
    command: tunnel --no-autoupdate run --token-file /run/secrets/cloudflared_token
    secrets:
      - cloudflared_token
    networks:
      - homelab
    restart: unless-stopped

volumes:
  redis_data:


networks:
  homelab:
    driver: bridge


secrets:
  db_password:
    file: ./secrets/db_password
  paperless_secret_key:
    file: ./secrets/paperless_secret_key
  cloudflared_token:
    file: ./secrets/cloudflared_token